---
import Layout from "../../layouts/Layout.astro";
import Link from "../../components/Link.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blogs")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title="Kevin Yu | Blogs">
    <h1 class="text-2xl font-bold border-b-1 border-black pb-5">
        Blogs
        <h1>
            <ul class="mt-5 flex flex-col gap-5">
                {
                    posts.length > 0 ? (
                        posts.map((post) => (
                            <li class="border-black border-1 p-2 flex flex-col gap-2">
                                <div class="gap-2 flex flex-col md:flex-row justify-between">
                                    <a
                                        href={`/blogs/${post.id}`}
                                        class="font-bold hover:text-gray-400 overflow-hidden truncate"
                                    >
                                        {post.data.title}
                                    </a>
                                    <time
                                        datetime={post.data.pubDate.toISOString()}
                                    >
                                        {post.data.pubDate.toLocaleDateString(
                                            "en-us",
                                            {
                                                year: "numeric",
                                                month: "short",
                                                day: "numeric",
                                            },
                                        )}
                                    </time>
                                </div>
                                <p>{post.data.description}</p>
                                <Link
                                    text="Read More"
                                    href={`/blogs/${post.id}`}
                                />
                            </li>
                        ))
                    ) : (
                        <p>nothing here ...</p>
                    )
                }
            </ul>
        </h1>
    </h1></Layout
>
